# ==========================================
# C++ / CMake - K.O.L.O.S. Projekt
# ==========================================

# 1. Foldery i pliki generowane przez CMake
build/
out/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps/
docs/

# 2. Skompilowane pliki binarne i obiekty
*.exe
*.o
*.obj
*.dll
*.lib
*.a
*.so
*.out
*.app

# 3. Pliki debugowania i zrzuty pamięci
*.pdb
*.ilk
*.suo
*.user
*.log
*.autosave

# 4. Środowisko VS Code 
# (Ignorujemy lokalne śmieci VS Code, ale zachowujemy kluczową konfigurację dla zespołu)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# 5. Pliki systemowe (Windows / macOS)
Thumbs.db
.DS_Store